- @events.each do |event|
  .thumb
    =link_to image_tag(event.avatar.url), event_path(event)
    %h4.title= event.title
    .date-month=event.date.strftime("%^b")
    .date-day=event.date.strftime("%d ")

%h1 test
