%aside
  .logo1 hip hop
  .logo2 connection
%main
  - @events.each do |event|
    .thumb
      = image_tag event.avatar.url
      %h1.title= event.title
      .date-month=event.date.strftime("%^b")
      .date-day=event.date.strftime("%d ")
