.event-header
  %h1 ADD EVENT

.event-form
  = form_for @event, html: { multipart: true } do |f|

    - if @error_messages.present?
      - @error_messages.each do |msg|
        .errors= msg

    .form-group
      =f.label :title, class: 'label'
      =f.text_field :title, class: 'field'

    .form-group
      =f.label :date, class: 'label'
      =f.date_field :date, class: 'field'

    .form-group
      =f.label :location, class: 'label'
      =f.text_field :location, class: 'field'

    .form-group
      =f.label :address, class: 'label'
      =f.text_field :address, class: 'field'

    .form-group
      =f.label :description, class: 'label'
      =f.text_area :description, class: 'field', rows: "10"

    .form-group
      =f.label :avatar, "Image", class: 'label'
      =f.file_field :avatar, class: 'field'
      =f.hidden_field :avatar_cache

    .form-group
      =f.label :facebook_url, class: 'label'
      =f.text_field :facebook_url, class: 'field'

    .form-group
      =f.label :other_url, class: 'label'
      =f.text_field :other_url, class: 'field'

    .form-group
      =f.label :email, class: 'label'
      =f.text_field :email, class: 'field'

    .form-group
      =f.submit 'create event', class: "form-button"
