$susy: (
 gutters: 0,
);

@import 'susy';


section.sidebar {
  @include span(2.5 of 8);
  background: rgba(104, 104, 104, 0.73);
  height: 100%;
  position: fixed;
  color: white;
  padding: 10px;
}

section.poster {
  @include span(4.5 of 8);
  margin-left: span(2.5 of 8);
  position: fixed;
  height: 100%;
  background-image: image-url('poster.jpg');
  opacity: .5;
  overflow: hidden;
}

section.poster {
  filter: blur(25px);
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
}


p.text-block {
  background: white;
  border-radius: 5px;
  color: black;
  padding: 5px;
}

.g-color {
  color: #80f2a8;
}
