!!!
%html
  %head
    %title HiphopConnection
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %aside
      .logo-title
        .logo
          .house=link_to (image_tag "housey.svg"), root_path
      .add-event
        =link_to "add event", new_event_path, class: 'btn'
      .story
        Hello hip hop community, I've designed a site where you can post dance related hip hop events. Bare with the
        URL, I'm hosting the site free and I can't afford a legit domain at the moment. Type of events you should
        list:
        %p + practice sessions
        %p + workshops
        %p + jams and shows
        %p + street performances
        %p + community service
    %main
      = yield
